@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

.header {
}
.header1 {
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}

.nav-custom {
  margin-left: 78px;
}

.btn-primary-custom {
  background: linear-gradient(
    149.65deg,
    rgba(210, 228, 255, 0.85) -30.98%,
    #8ebbff 116.89%
  );
  border: 1px solid #ffffff;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.c-main-hero {
  display: flex;
}
.main-hero {
  align-items: center;
  margin-top: 81px;
}
.main-hero h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 83px;
  padding-left: 2px;
  color: #696969;
}

.main-hero p {
  margin-top: 8px;
  margin-bottom: 32px;
  color: #969696;
}

.header {
  position: relative;
  z-index: 9999;
}

.gambar-hero {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  height: 100%;
}

.main {
  height: 100vh;
  overflow: hidden;
}

.row-imgbagi {
  height: 100vh;
  /* background-color: aquamarine; */
}
.dua {
}
.grid-images {
  display: grid;
  grid-template-columns: repeat(16, minmax(10px, 1fr));
  grid-template-rows: repeat(5, minmax(10px, 1fr));
  row-gap: 40px;
  /* background-color: blue; */
  height: 100vh;

  background: rgb(109, 171, 164);
  background: radial-gradient(
    circle,
    rgba(109, 171, 164, 1) 13%,
    rgba(112, 33, 148, 1) 45%,
    rgba(9, 9, 121, 1) 77%
  );

  /* column-gap: 2px;
  row-gap: 2px; */
}

.grid-images .item-one {
  /* background-color: #8ebbff; */
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 7;
  align-items: center;
}
.grid-images .item-dua {
  /* background-color: #8ebbff; */
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid-images .item-tiga {
  /* background-color: #8ebbff; */
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 4;
  grid-row-end: 7;
}

/* card */
.card-custom1 {
  width: 256px;
  height: 290px;
  border-radius: 20px;
  background-color: #ffdaf3;
  border: none;
}
.card-custom2 {
  width: 256px;
  height: 290px;
  border-radius: 20px;
  background-color: #ffe5da;
  border: none;
}
.card-custom3 {
  width: 256px;
  height: 290px;
  border-radius: 20px;
  background-color: #dafffb;
  border: none;
}
.card-custom4 {
  width: 256px;
  height: 290px;
  border-radius: 20px;
  background-color: #fff9da;
  border: none;
}

.information h2 {
  color: #696969;
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
}
.information p {
  color: #969696;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.information a {
  color: #8ebbff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}

/* qoutes */
.qoutes {
  background-color: #f5f9ff;
  height: 666px;
}

.qoutes h2 {
  color: #696969;
  font-size: 48px;
  font-weight: 700;
  line-height: 63px;
}
.qoutes p {
  color: #8ebbff;
  font-size: 18px;
  font-weight: 400;
  line-height: 63px;
}

.img-qoutes {
  margin-top: -80px;
}

.footer p {
  color: #969696;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.medsos {
  color: #8ebbff;
}
.medsos i {
  height: 24px;
  width: 24px;
}

.footer {
  height: 437px;
}

.img-footer {
  margin-top: 150px;
}

.custom-medsos {
  margin-top: 192px;
  padding-left: 200px;
  padding-right: 100px;
}

.kontak {
  margin-top: 192px;
  margin-left: 0px;
}

.nomor h4 {
  color: #8ebbff;
  font-size: 17px;
  font-weight: 700;
}
